#app {
	height: 100vh;
}

.profile_avatar_edit_overlay {
	opacity: 0;
	transition: all 250ms;
	background-color: rgba(0, 0, 0, 0.5);
}

.profile_avatar_edit_container:hover .profile_avatar_edit_overlay {
	opacity: 1;
}

.profile-container {
	justify-content: space-between;
}

.top-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.top-image {
	width: 100%;
	margin-bottom: 20px;
}


.info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	max-height: 200px;
	max-width: 200px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1 / 1;
}

@media (max-width: 780px) {
	.chat-container {
		flex-direction: column !important;
	}

	.profile-container {
		justify-content: center;
	}
	.info-container {
		align-items: center;
	}
}