#app {
	height: 100vh;
}

.profile_avatar_edit_overlay {
	opacity: 0;
	transition: all 250ms;
	background-color: rgba(0, 0, 0, 0.5);
}

.profile_avatar_edit_container:hover .profile_avatar_edit_overlay {
	opacity: 1;
}

.profile-container {
	justify-content: space-between;
}

.top-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.top-image {
	width: 100%;
	margin-bottom: 20px;
}


.info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	max-height: 200px;
	max-width: 200px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1 / 1;
}

@media (max-width: 780px) {
	.chat-container {
		flex-direction: column !important;
	}

	.profile-container {
		justify-content: center;
	}

	.info-container {
		align-items: center;
	}
}

canvas {
	width: 100%;
	height: 100%;
}
.box-canvas {
	display: flex;
	flex-direction: column;
}
.box-canvas img{
	width: 2rem;
	height: 2rem;
}
.box-canvas strong{
	font-size: 0.8rem;
}

t-pong-canvas {
	width: 300px;
	height: 300px;
	margin-bottom: 10px;
}
.box-player-1,.box-player-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	gap: 15px;
}

@media (min-width: 480px) {
	

	t-pong-canvas {
		width: 330px;
		height: 330px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 780px) {
	t-pong-canvas {
		width: 400px;
		height: 400px;
		margin-bottom: 10px;
	}
	.box-canvas {
		display: flex;
		flex-direction: row;
		gap: 15px;
		align-items: center;
	}
	.box-canvas img{
		width: 7rem;
		height: 7rem;
	}
	.box-canvas strong{
		font-size: 1.5rem;
	}
}

/* @Media for ipadPro */
@media ((min-width: 1024px) and (min-height: 1366px)) or ((min-width: 820px) and (min-height: 1180px)) or 
((min-width: 768px) and (min-height: 1024px))
{
	t-pong-canvas {
		width: 501px;
		height: 501px;
		margin-bottom: 10px;
	}
	.box-canvas {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}
	.box-canvas img{
		width: 7.3rem;
		height: 7.3rem;
	}
	.box-canvas strong{
		font-size: 2rem;
	}
}

 @media (min-width: 1024px) and (max-height: 1000px)  {
	t-pong-canvas {
		width: 500px;
		height: 500px;
		margin-bottom: 10px;
	}
	.box-canvas{
	flex-direction: row;
	}
	.box-player-1, .box-player-2{
		flex-direction: column;
		margin-left: 15px;
		margin-right: 15px;
		:nth-child(1){
			margin-bottom: 10px;
		}	
	}
}  





@media (min-width: 1200px) {
	t-pong-canvas {
		width: 700px;
		height: 700px;
		margin-bottom: 10px;
	}
	.box-canvas img{
		width: 12rem;
		height: 12rem;
	}
	.box-canvas strong{
		font-size: 2.5rem;
	}
	.box-player-1 button, .box-player-2 button{
        display: none;
    }	
}

